<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8" />
    <title>facetest</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/face-change.js"></script>
</head> 
<body> 
    <div id="wrapper">
        <h2>表情の変化</h2>
        <button id="to-normal">to normal</button>
        <button id="to-think">to think</button>
        <button id="to-positive">to positive</button>
        <button id="to-negative">to negative</button>

        <h2>classifyテスト</h2>
        <input type="text" id="keywords"></input>
        <button id="submit">classify</button>
        <h2>結果</h2>
        <textarea id="message"></textarea>

        <div id="svgArea"></div>
    </div>
</body>
</html>
