<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8" />
    <title>facetest</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/face-change.js"></script>
</head> 
<body> 
    <h1>SVG sample</h1>
    <button id="to-positive">to positive</button>
    <button id="to-normal">to normal</button>
    <button id="to-negative">to negative</button>
    <button id="to-think">to think</button>
    <br><br>

    <input type="text" id="keywords"></input>
    <button id="submit">classify</button>
    <p>result</p>
    <div id="result"></div>

    <div id="svgArea"></div>
</body>
</html>
